{# templates/clustertype/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}clustertype{% endblock %}
{% block body %}
<div class="blog-header">
    <h2 class="blog-title text-center">Справочник clustertypes</h2>
</div>

<div>
{% for label, messages in app.flashes %}
    {% for message in messages %}
{#	<div class="alert alert-warning" role="alert"> #}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Memo</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

{% for clustertype in clustertypes %}
    <tr>
      <th scope="row">{{ clustertype.id }}</th>
      <td><a href="{{ url('clustertype_edit',{'id': clustertype.id}) }}" class="db-list-edit"> {{ clustertype.name }}</a></td>
      <td>{{ clustertype.memo }}</td>
      <td><a href="{{ url('clustertype_delete',{'id': clustertype.id}) }}" class="db-list-edit" onclick="return confirm(' {{ clustertype.name }} будет удалено, продолжить?')">Удалить {{ clustertype.name }}</a></td>
    </tr>

{% else %}
Записей нет.
{% endfor %}
  <tbody>
  </tbody>
</table>
<h3 class="text-center">Добавить</h3>
{{ render(controller('App\\Controller\\ClustertypeController::newAction')) }} 
{% endblock %}
