{# src/templates/server/form.html.twig #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="col-md-12">
    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.name) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.is_vm) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.mem) }}
    </div>
    </div>
    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.cpu) }}
    </div>
    </div>
    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.hdd) }}
    </div>
    </div>
    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.ipaddr) }}
    </div>
    </div>
    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.state_on_off) }}
    </div>
    </div>
    


    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.cluster_id) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.os_id) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.memo) }}
    </div>
    </div>

    <div class="form-row justify-content-center">
    <div class="form-group text-center">
        <input type="submit" value="Submit">
    </div>
    </div>
</div>