<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}" />
    {% endblock %}
</head>
<body>

<header>
<nav class="navbar navbar-dark bg-dark">
<ul class="nav justify-content-center nav-tabs ">
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('about') }}">About</a>

  <li class="nav-item">
    <a class="nav-link active" href="{{ path('home') }}">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('country_list') }}">Countries</a>
      <a class="dropdown-item" href="{{ path('language_list') }}">Languages</a>
      <a class="dropdown-item" href="{{ path('vendor_list') }}">Vendors</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('platform_list') }}">Platforms</a>
      <a class="dropdown-item" href="{{ path('clustertype_list') }}">Cluster types</a>
      <a class="dropdown-item" href="{{ path('cluster_list') }}">Clusters</a>      
      <a class="dropdown-item" href="{{ path('project_list') }}">Projects</a>
      <a class="dropdown-item" href="{{ path('os_list') }}">OS</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('building_list') }}">Buildings</a>
      <a class="dropdown-item" href="{{ path('room_list') }}">Rooms</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('server_list') }}">Servers</a>
  </li>
</ul>
</nav>
<header>
{% block body %}
{% endblock %}

<div id="footer">
{% block footer %}
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://"> </a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>

