{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="blog-header">
    <h2 class="blog-title text-center">Main page</h2>
</div>
<div class="container">
<div class="col-6">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(memchart) }}
    {{ chart(cpuchart) }}
    {{ chart(oschart) }}
</script>
<div id="memchart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
<div id="cpuchart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
<div id="oschart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Это демо-тестовое приложение на Symfony. Представляет собой CRUD, функционально - это информационная система для хранения данных  ИТ-актива в части оборудования: 
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Сделана вся эта система на PHP/Symfony 4
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Данные залиты с помощью <a href=https://github.com/eurazaliev/store/tree/master/src/DataFixtures/ORM>фикстур</a>
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Верстка на bootstrap4/twig
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Созданы acceptance тесты на Codeception.
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Исходники на <a href="https://github.com/eurazaliev/store">github тут</a>
  </button>
</div>
</div>
    {% for mem in mems %}
    {% for m in mem %}
    {{ m }}

    {% for n in m %}

    {{ n }}
    {% endfor %}
    {% endfor %}
    {% endfor %}

</div>
    
{% endblock %}
