{# templates/project/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Языки{% endblock %}
{% block body %}
<div class="blog-header">
    <h2 class="blog-title text-center">{{entity}}</h2>
</div>

<div>
{% for label, messages in app.flashes %}
    {% for message in messages %}
{#	<div class="alert alert-warning" role="alert"> #}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Memo</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

{% for project in projects %}
    <tr>
      <th scope="row">{{ project.id }}</th>
      <td><a href="{{ url('project_edit',{'id': project.id}) }}" class="db-list-edit"> {{ project.name }}</a></td>
      <td>{{ project.memo }}</td>
      <td><a href="{{ url('project_delete',{'id': project.id}) }}" class="db-list-edit" onclick="return confirm(' {{ project.name }} будет удалено, продолжить?')">Удалить {{ project.name }}</a></td>
    </tr>

{% else %}
Записей нет.
{% endfor %}
  <tbody>
  </tbody>
</table>
<h3 class="text-center">Добавить</h3>
{{ render(controller('App\\Controller\\ProjectController::newAction')) }} 
{% endblock %}
